body {
  overflow-y: scroll;
}

/* Search Bar */
.search {
  width: 100%;
  text-align: center;
  display: flex;
}
.search .search-bar {
  flex: 1;
}

/* Category List */
.categories {
  width: 20%;
  display: inline-block;
  background-color: #fdf6f0;
}

.categories > div {
  text-align: center;
  color: black;
}

.categories ul {
  margin: 0;
  border-top: 1px solid grey;
  list-style: none;
  padding: 0;
  padding-left: 5px;
  background-color: #fdf6f0;
}

.categories ul li {
  cursor: pointer;
  /* transition: font-weight 1s; */
}

.categories ul li.active {
  font-weight: bold;
}

.no-items::before {
  content: "No items found";
}
.no-items {
  display: none;
  width: calc(80% - 3px);
  float: right;
  text-align: center;
  background-color: rgba(253, 246, 240, 0.96);
  border-radius: 6px;
  padding: 30px 0;
}

.no-items.active {
  display: inherit;
}

/* Menu Grid */
#menu-grid {
  display: inline-flex;
  width: 80%;
  flex-wrap: wrap;

  float: right;
}

.menu-container {
  width: 25%;
  display: flex;
}

.menu-container:before,
.menu-item:before {
  content: "";
  float: left;
  padding-top: 100%;
}

/* Menu Item */
.menu-item {
  background-color: rgba(253, 246, 240, 0.96);

  flex: 1;

  padding: 5px;

  border-radius: 6px;
  margin-bottom: 3px;
  margin-left: 3px;

  transition: background-color 0.5s;

  /* Fix positioning for Firefox !?!?!? */
  filter: grayscale(0%);
}

.menu-item:hover {
  background-color: rgba(253, 246, 240, 1);
}

.menu-item .header .name {
  font-weight: bold;
}

.menu-item .header .price {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  border-bottom-left-radius: 10px;

  background-color: #fed676;
}
.menu-item .header .price:before {
  content: "$";
}

/* Content */
.menu-item .content {
  margin-top: 5px;
}
.menu-item .content .description {
  color: #535050;
}

/* Footer */
.menu-item .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;

  cursor: pointer;

  color: white;

  opacity: 0;
  transition: opacity 0.3s;
}
.menu-item:hover .footer {
  opacity: 1;
}

.menu-item .footer * {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-right: 5px;

  transition: background-color 0.5s;
}

.menu-item .footer :first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.menu-item .footer :last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.menu-item .footer .add {
  background-color: #f6b75f;
}
.menu-item .footer .add:hover {
  background-color: orange;
}

.menu-item .footer .customise {
  background-color: #f3aba3;
}
.menu-item .footer .customise:hover {
  background-color: #df3e32;
}

.menu-item.disabled {
  background-color: rgba(253, 246, 240, 0.8);
  cursor: default;
  pointer-events: none;

  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
